{% extends 'base.html' %}

{% block title_block %}
	<title>Resume List</title>
{% endblock %}


{% block body_block %}
    <a href="{% url 'ResumePage:home' %}">main page</a>
	<ul>
        {% for resume in resume_list %}
        	<li style="display-inside: ruby;">
                <p>
                    <a href='{{ resume.get_absolute_url }}'/>
                    {{ resume.pk }}  - {{ resume.full_name }}
                </p>
                
                <form method="get" action="{% url 'ResumePage:resume_delete' resume.pk %}"> 
                    <button type="submit">delete</button>
                </form>
            </li>
        {% endfor %}
        
    </ul>
{% endblock %}